/* Universal Stylings */

:root {
    padding: 0;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

/* Font Stylings */

h1 {
    font-size: 28px;
    color: white;
}

h2 {
    font-size: 24px;
    color: black;
}

/* Form Container Stylings */

form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: green;
}

/* Search Text Field Stylings */

#cityname {
    width: 100%;
    height: auto;
    word-wrap: break-word;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

/* Search Button Stylings */

#searchbutton {
    width: 100%;
    height: auto;
    background-color: lightskyblue;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Header Stylings */

header {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    width: 100vw;
    max-width: 100%;
    height: 7vh;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* Main Stylings */

main {
    display: flex;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    justify-content: center;

}

/* Aside Left Stylings */

#asideleft {
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 20vw;;
    height: auto;
    background-color: aquamarine;
}

/* Aside Right Stylings */

#asideright {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 80vw;
    height: 100px;
    background-color: brown;
}